* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    scrollbar-width: none;
    /* Firefox */
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Head part */
#headpart {
    width: 100%;
    background: rgb(0, 102, 204);
    background: linear-gradient(180deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 90%, rgb(253, 183, 26, 1) 90%);
    display: grid;
    grid-auto-flow: column;
}

#headpart img {
    width: clamp(100px, 10vw, 140px);
    height: auto;
    padding-bottom: 15px;
    margin-top: 5px;
    cursor: pointer;
}

#headpart .title {
    margin: auto;
    text-align: center;
    color: white;
    font-size: clamp(18px, 2vw, 25px);
    font-weight: 600;
}

#headpart .holder {
    display: grid;
    align-items: center;
    justify-items: right;
}

.holder button {
    cursor: pointer;
    height: auto;
    margin-right: clamp(10px, 1vw, 20px);
    padding-top: clamp(3px, .5vw, 5px);
    padding-bottom: clamp(3px, .5vw, 5px);
    padding-left: clamp(5px, 1vw, 7px);
    padding-right: clamp(5px, 1vw, 7px);
    display: inline-block;
    outline: none;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    background: white;
    vertical-align: middle;
    color: #42526e;
}

.holder button:hover {
    background: #091e4214;
    text-decoration: inherit;
    transition-duration: 0.3s, 0.15s;
    color: white;
}

/* New CSS for 4 buttons */
/* Sub-head part */
#subheadpart {
    width: 100%;
    height: 4%;
    display: grid;
    grid-auto-flow: column;
}

#subheadpart #aBtn {
    align-items: center;
    background-color: #04487F;
    color: white;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 350ms;
}

#subheadpart #aBtn:hover,
#subheadpart #aBtn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    color: black;
}

#subheadpart #aBtn:hover {
    transform: translateY(-1px);
}

/* ******* */


/* Body part */
.table-responsive-lg {
    height: 100%;
    margin: 5% 5%;
}

caption {
    text-align: center !important;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
    color: black !important;
    margin-bottom: .5%;
}