*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive !important;
}

html, body{
    height: auto !important;
    width: 100%;
    scrollbar-width: none; /* Firefox */
    overflow-x: hidden;
   
}

/* Hide scrollbars for Chrome */
body::-webkit-scrollbar {
    display: none; 
}

/* Top button */
#topBtn{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    outline: none;
    color: white;
    background-color: rgba(39, 36, 38, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.555);
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: clamp(15px, 1.5vw, 25px);
}

#topBtn:hover{
    color: rgba(51, 255, 0, 0.753);
    background-color: rgb(32, 35, 36);
    transition: 650ms cubic-bezier(0.13,-0.36, 1, 1.24);
    box-shadow: 0 5px 15px 5px rgb(0, 0, 0);
}

/* Navbar CSS */
.container-fluid{
    background-color: rgb(18, 53, 49);
    justify-content: space-evenly;
    overflow: hidden;
}

.navbar-toggler:hover{
    color: rgba(51, 255, 0, 0.753) !important;
}

.navbar-brand{
    font-style: italic !important;
    color: white !important;
    transition: 650ms cubic-bezier(0.13,-0.36, 1, 1.24) !important;
    font-size: clamp(23px, 1.5vw, 35px) !important;
    font-weight: 600;
    letter-spacing: 1px;
    animation: left 5s forwards;
}

.logo{
    width: 120px;
    height: 66px;
    filter: drop-shadow(0 0 10px rgba(32, 32, 32, 0.753));
}

.navbar-brand:hover{
    color: rgba(51, 255, 0, 0.753) !important;
}

.nav-item{
    margin: 0 30px 10px 30px;
}

.nav-link{
    border: none;
    color: white !important;
    transition: 750ms cubic-bezier(0.13,-0.36, 1, 1.24) !important;
    font-size: clamp(15px, 1.5vw, 20px);
    font-weight: 300;
    transform-style: preserve-3d;
    transform-origin: top;

    box-shadow:
      3.5px 3.6px 1.2px rgba(0, 0, 0, 0.191),
      7.8px 8px 3.4px rgba(0, 0, 0, 0.216),
      13.2px 13.6px 7.1px rgba(0, 0, 0, 0.222),
      20px 20.6px 12.9px rgba(0, 0, 0, 0.221),
      28.6px 29.4px 22.4px rgba(0, 0, 0, 0.216),
      38.4px 39.5px 39.2px rgba(0, 0, 0, 0.208),
      35px 36px 80px rgba(0, 0, 0, 0.2)
    ; 
}

.nav-link:last-child{
    color: black;
}

.nav-link:hover{
    color: rgba(0, 0, 0, 0.856) !important;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    transform: rotateX(90deg);
}

.nav-link::after{
    width: 100%;
    color: rgba(51, 255, 0, 0.753) !important;
    background-color: rgba(39, 36, 38, 0) !important;
    padding: inherit !important;
    content: attr(data-text);
    position: absolute;
    left: 0;
    bottom: -100%;
    transform: rotateX(-90deg);
    transform-origin: top;
    box-shadow: 5.4px 10.9px 10.9px hsl(0deg 0% 0% / 0.33);
}

.nav-item:nth-child(odd){
    animation: up 1s forwards;
}

.nav-item:nth-child(even){
    animation: down 1s forwards;
}

@keyframes up{
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes down{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes left{
    from{
        transform: translate3d(-100%);
        opacity: 0;
    }
    to{
        transform: translate3d(0%);
        opacity: 1;
    }    
}

/* Carousel slide CSS */
#myCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active{
    height: 100vh !important;
    background-color: rgba(44, 41, 42, 0.726);
}

@media (max-width: 1050px){
    #myCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active{
        height: 35vh !important;
    }   
}

.carousel-item:nth-child(1){
    background-image: url(images/subpage7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    opacity: 0.6;
}

.carousel-item:nth-child(1) .carousel-caption{
    font-size: clamp(20px, 2vw, 50px);
    background-color: #c5c3c3;
    color: #003347;
    text-transform: capitalize;
    opacity: 0.8;
    padding: 0 10px;
    margin-bottom: 30%;
}

.carousel-item:nth-child(1) .carousel-caption p{
    color: rgb(0, 0, 0);
}

.carousel-item:nth-child(2){
    background-image: url(images/subpage5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    opacity: 0.6;
}   

.carousel-item:nth-child(3){
    background-image: url(images/subpage4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
}

@media screen and (max-width: 1050px){
    .carousel-item:nth-child(1) .carousel-caption{
        margin: 30vh auto;
    }
}

/* About Us CSS */
#aboutUs-page{
    width: 100%;
    height: 80vh;  
    background: rgb(18, 53, 49);
    border: rgb(18, 53, 49) 0.5px solid;
    /* background: linear-gradient(90deg, rgba(81,0,255,1) 6%, rgba(116,58,241,1) 25%, 
     rgba(0,100,247,1) 38%, rgba(59,120,210,1) 52%, rgba(219,62,216,1) 70%, rgba(144,19,137,1) 95%);   
    background-size: 400%;
    background-position: left;
    animation: bg-animation 15s infinite alternate;    */
}

/* @keyframes bg-animation{
    0%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
} */

.container-fluid{
    width: 100%;
    height: inherit;
    overflow-y: auto !important;
}

.container-fluid h1{
    text-align: center;
    font-size: clamp(35px, 3vw, 60px);
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 50px;
}

.container-fluid h1::after{
    content: "";
    height: 3px;
    width: 225px;
    background-color: white;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.wrapper{
    display: flex;
    margin: 60px auto;
    padding: 0 60px;
}

.content{
    width: 60%;
    float: left;
    text-align: left;
    color: white;
    padding-left: 50px;
}

.content h3{
    font-size: clamp(20px, 2vw, 35px);
}

.content p{
    font-size: clamp(16px, 1.5vw, 25px);
}

.img-section{
    width: 40%;
    float: right;
    display: flex;
    justify-content: center;
}

.img-section img{
    max-width: 100%;
    max-height: 70%;
    height: auto;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, 
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, 
    rgba(240, 46, 170, 0.05) 25px 25px;
}

@media screen and (max-width: 1050px){
    #aboutUs-page{
        width: 100%; 
        height: auto;
    }

    #aboutUs-page h1{
        margin-top: 15px; 
    }

    #aboutUs-page h1::after{
        width: 200px;
    }

    .wrapper{
        display: block;
        margin: 30px auto;
        padding: 0 30px;
    }

    .content{
        width: 100%;
        float: none;
        padding: 0 10px;
    }

    .img-section{
        width: 100%;
        float: none;
        margin-top: 15px;
    }

    .img-section img{
        width: 75%;
    }
}

/* GTA page CSS */
#GTAform-page{
    height: 100%;  
    background-color: rgba(44, 41, 42, 0.98);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/background1.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border: rgb(10, 32, 30) 0.5px solid;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 5% 20px;
    color: white;
    background: rgb(18, 53, 49, 0.65);
    overflow-y: auto;
    border: solid;
}

.container .title{
    margin-bottom: clamp(10px, 3vw, 20px);
    font-size: clamp(35px, 3vw, 60px);
    font-weight: bold;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
}

.container .title::after{
    content: "";
    height: 3px;
    width: 225px;
    background-color: white;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.info-box{
    display: flex;
    flex-wrap: wrap;
}

.formField{
    padding: 10px 20px;
    font-size: clamp(16px, 2vw, 20px);
}

.formField input{
    color: white;
    margin-top: 5px;
    padding-left: 15px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid white;
    outline: none;
    border-radius: 5px;
    background: transparent;
}

.submitBtn{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: clamp(15px, 3vw, 30px);
    padding: 2px;
    font-size: clamp(16px, 2vw, 25px);
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .3) 15px 28px 25px -18px;
    transition: all 350ms ease-in-out;
}

.submitBtn:hover {
    background: rgba(209, 209, 209, 0.884);
    box-shadow: rgba(0, 0, 0, 1) 2px 8px 8px -5px;
    transform: translate3d(0, 3px, 0);
}

.submitBtn:focus {
    box-shadow: rgba(0, 0, 0, 1) 2px 8px 4px -6px;
}

@media screen and (max-width: 1050px){
    #GTAform-page{
        width: 100%;
        height: auto;  
    }

    .container{
        height: auto;
        background: rgb(18, 53, 49, 0.8);
    }

    .container .title::after{
        width: 200px;
    }

    .formField{
        padding: 17px 20px;
    }

    .submitBtn{
        margin: 20px 0 0 10%;
    }
}

/* Help page CSS */
#help-page{
    width: 100%;
    height: 50vh;
    display: flex;
    background-color: rgb(18, 53, 49);
}

#help-page .c1{
    float: left;
    width: 60%;
    height: 50vh;
    padding: 5% 3%;   
}

#help-page .c2{
    float: right;
    width: 40%;
    height: 50vh;
    padding: 5% 1%;
}

.wrap{
    height: 30vh;
    padding: 20px 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.c1 .wrap, .c2 .wrap{
    overflow-y: auto;
}

.wrap p{
    font-size: clamp(16px, 2vw, 20px);   
}

@media screen and (max-width: 1050px){
    #help-page{
        display: block;
        height: auto;
    }

    #help-page .c1, #help-page .c2{
        width: 100%;
        height: inherit;
        float: none;
        padding: 5% 1%;
    }
}