#headpart {
    width: 100%;
    background: rgb(0, 102, 204);
    background: linear-gradient(180deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 90%, rgb(253, 183, 26, 1) 90%);
    display: grid;
    grid-auto-flow: column;
}

#headpart img {
    width: clamp(100px, 10vw, 140px);
    height: 75px;
    padding-bottom: 15px;
    cursor: pointer;
    margin-top: 8px !important;
}

#headpart .title {
    margin: auto;
    text-align: center;
    color: white;
    font-size: clamp(18px, 2vw, 25px);
    font-weight: 600;
}

#headpart form {
    display: grid;
    align-items: center;
    justify-items: right;
}

#logOutBtn  {
    background: rgb(255, 213, 47, 1);
    text-transform: uppercase;
    outline: 0;
    border: 0;
    font-size: 14px;
    transition: .5s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100px;
}

#logOutBtn:hover {
    background: rgb(253, 183, 26, 1);
    color: #42526e;
    font-weight: bold;
}