*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

/* Hide scrollbars */
body::-webkit-scrollbar {
    display: none;
}

/* Top button*/
#topBtn{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    font-size: 20px;
    font-family: cursive;
    border: none;
    outline: none;
    color: #c5c3c3;
    background-color: rgba(42, 38, 40, 0.089);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.712);
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
}

#topBtn:hover{
    color: #49e722c0;
    background-color: rgb(32, 35, 36);
    transition: 650ms cubic-bezier(0.13,-0.36, 1, 1.24);
    box-shadow: 0 5px 15px 5px rgb(0, 0, 0);
}


.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

input[type=checkbox]+label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked+label {
    color: #f00;
    font-style: normal;
}


/* Navbar CSS */
.container-fluid{
    background-color: rgba(44, 41, 42, 0.979);
    justify-content: space-evenly;
    overflow: hidden;
}

.navbar-toggler:hover{
    color: #49e722c0 !important;
}

.navbar-brand{
    padding: 0 30px;
    font-family: cursive;
    font-size: 30px !important;
    font-style: italic !important;
    color: #c5c3c3 !important;
    transition: 650ms cubic-bezier(0.13,-0.36, 1, 1.24) !important;
    animation: left 5s forwards;
}

.logo{
    width: 120px;
    height: 66px;
    filter: drop-shadow(0 0 25px #49e722c0);
}

.navbar-brand:hover{
    color: #49e722c0 !important;
}

.nav-item:last-child .nav-link{
    margin-right: 1px;
}

.nav-link{
    border: none;
    font-family: cursive;
    margin-right: 2rem;
    font-size: 20px !important;
    color: #c5c3c3 !important;
    transition: 650ms cubic-bezier(0.13,-0.36, 1, 1.24) !important;
    display: inline-block;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: top;
    box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
}

.nav-link:hover{
    color: #49e722c0 !important;
    transform: rotateX(90deg);
}

.nav-link::after{
    width: 100%;
    color: #49e722c0 !important;
    background-color: rgb(38, 41, 42) !important;
    font-size: 20px !important;
    padding: inherit !important;
    content: attr(data-text);
    position: absolute;
    left: 0;
    bottom: -100%;
    transform: rotateX(-90deg);
    transform-origin: top;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.856);
}

.nav-item:nth-child(odd){
    animation: up 1s forwards;
}

.nav-item:nth-child(even){
    animation: down 1s forwards;
}

@keyframes up{
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes down{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes left{
    from{
        transform: translate3d(-100%);
        opacity: 0;
    }
    to{
        transform: translate3d(0%);
        opacity: 1;
    }
}

/* Carousel slide CSS */
.carousel-item{
    background-color: rgba(44, 41, 42, 0.726);
    position: relative;
    background-position: center;
    background-size: cover;
}

.card-img{
    opacity: 0.6;
}

.carousel-inner .item a img{
    margin: auto;
}

/* About Us CSS */
#aboutUs-page{
    height: 100%;
    width: 100%;
    background-image: url(images/background1.jpg);
    background-color: black;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

html, body{
    margin-left:15px; margin-right:15px;
    padding:0px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

table {
    border-collapse:collapse;
    border-bottom:1px solid gray;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    width:72%;
}

th {
    border-bottom:1px solid gray;
    background:none repeat scroll 0 0 #0775d3;
    padding:10px;
    color: #FFFFFF;
}

tr {
    border-top:1px solid gray;
    text-align:center;
}

tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #BBBBBB}

#wrapper {width: 100%; margin-top: 0px; }
#header {width: 72%; background: #0775d3; margin-top: 0px; padding:15px 0px 15px 0px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}

.add-student-button {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 120px;
    padding: 5px 10px;

    margin-bottom: 15px;
    background: #cccccc;
}





